
@{
    ViewData["Title"] = "ContraseñaIncorrecta";
}

<div id="appLogin">
    <h1 class="list-group-item-danger">
        <span>Contraseña Incorrecta </span>
    </h1>
    <hr />
    <div style="text-align: center;">
        <a href="/Sesion/Registrar" class="btn btn-primary">Volver a Intentar</a>
    </div>
</div>
@section ScriptsSection {
    <script src="~/js/ListaDeSesion.js"></script>
   
}
