
@{
    ViewData["Title"] = "Registrar";
}
<div id="appLogin">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Iniciar Sesion</h5>
                        <form class="form-signin" method="post" action="/Sesion/LogIn" id="vehiculoform">
                            <div class="form-label-group">
                                <input type="text" id="Nombre"  class="form-control" name="Nombre" v-model="sesion.Nombre" @@keyup.enter="crearsesion" required autofocus>
                                <label for="inputEmail">Nombre</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="Contrasenia" class="form-control" name="Contrasenia" v-model="sesion.Contrasenia" @@keyup.enter="crearsesion" required>
                                <label for="inputPassword">Contraseña</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar Sesion</button>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsSection {
    <link href="~/css/Seccion.css" rel="stylesheet" />
    <script src="~/js/Vehiculo-validator.js"></script>
    <script>
        $("#vehiculoform").validate();
    </script>
    <script src="~/js/ListaDeSesion.js"></script>
}
