################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/RegiVeSec/RegiVeSec/obj
/RegiVeSec/RegiVeSec/bin
/RegiVeSec/.vs/*
/RegiVeSec/RegiVeSec/wwwroot/css
appsettings.json