
<div id="appAutos">
    <div class="text-center">
        <h1 class="display-4">REGISTRO DE AUTOS</h1>
        <form method="post" action="/Vehiculo/Add" id="vehiculoform">
            <fieldset>
                <div class="form">
                    <div class="col-md-4 mb-3">
                        <label>Fecha De Ingreso </label>
                        <input v-model="vehiculo.FechaDeIngreso" @@keyup.enter="crearvehiculo" type="date" name="FechaDeIngreso" class="form-control" id="FechaDeIngreso" />
                    </div> <div class="col-md-4 mb-3">
                        <label>Propietario </label>
                        <input v-model="vehiculo.Propietario" @@keyup.enter="crearvehiculo" type="text" name="Propietario" id="Propietario" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Dominio</label>
                        <input v-model="vehiculo.Dominio" @@keyup.enter="crearvehiculo" type="text" name="Dominio" id="Dominio" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Marca </label>
                        <input v-model="vehiculo.Marca" @@keyup.enter="crearvehiculo" type="text" name="Marca" id="Marca" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Tipo </label>
                        <input v-model="vehiculo.Tipo" @@keyup.enter="crearvehiculo" type="text" name="Tipo" id="Tipo" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Color </label>
                        <input v-model="vehiculo.Color" @@keyup.enter="crearvehiculo" type="text" name="Color" id="Color" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Modelo </label>
                        <input v-model="vehiculo.Modelo" @@keyup.enter="crearvehiculo" type="text" name="Modelo" id="Modelo" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Causa </label>
                        <input v-model="vehiculo.Causa" @@keyup.enter="crearvehiculo" type="text" name="Causa" id="Causa" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Estado </label>
                        <input v-model="vehiculo.Estado" @@keyup.enter="crearvehiculo" type="text" name="Estado" id="Estado" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Numero de Sumario </label>
                        <input v-model="vehiculo.NumeroSumario" @@keyup.enter="crearvehiculo" type="text" name="NumeroSumario" id="NumeroSumario" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Dependencia </label>
                        <input v-model="vehiculo.Dependencia" @@keyup.enter="crearvehiculo" type="text" name="Dependencia" id="Dependencia" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Orden </label>
                        <input v-model="vehiculo.Orden" @@keyup.enter="crearvehiculo" type="text" name="Orden" id="Orden" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>DependenciaProcedente </label>
                        <input v-model="vehiculo.DependenciaProcedente" @@keyup.enter="crearvehiculo" type="text" name="DependenciaProcedente" id="DependenciaProcedente" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Observaciones </label>
                        <input v-model="vehiculo.Observaciones" @@keyup.enter="crearvehiculo" type="text" name="Observaciones" id="Observaciones" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Recibe </label>
                        <input v-model="vehiculo.Recibe" @@keyup.enter="crearvehiculo" type="text" name="Recibe" id="Recibe" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>Entrega  </label>
                        <input v-model="vehiculo.Entrega" @@keyup.enter="crearvehiculo" type="text" name="Entrega" id="Entrega" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label>FechaDeEntrega </label>
                        <input v-model="vehiculo.FechaDeEntrega" @@keyup.enter="crearvehiculo" type="date" name="FechaDeEntrega" id="FechaDeEntrega" class="form-control" />
                    </div>
                    <button id="submit" class="btn btn-primary" v-on:click="vehiculo">Enviar</button>
                </div>
            </fieldset>

        </form>
    </div>
</div>

@section ScriptsSection {
    <script src="~/js/Formulario.js"></script>
}

