@model VehiculoRegiVeSecDto
@{
    ViewData["Title"] = "Editar";
}


<h4>Editar</h4>
<hr />
<div id="appAutos">
    <form action="/Home/Index" method="POST" id="vehiculoform">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" name="Id" />
        <div class="row">
            <div class="col-md-6 mb-6">

                <div class="input-group mb-3 ">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Fecha De Ingreso</span>
                    </div>
                    <input v-model="vehiculo.FechaDeIngreso" @@keyup.enter="crearvehiculo" type="datetime" name="FechaDeIngreso" class="form-control " id="FechaDeIngreso" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Dependencia Procedente</span>
                    </div>
                    <input v-model="vehiculo.DependenciaProcedente" @@keyup.enter="crearvehiculo" name="DependenciaProcedente" class="form-control" id="dependenciaProcedente" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Numero De Sumario</span>
                    </div>
                    <input v-model="vehiculo.NumeroSumario" @@keyup.enter="crearvehiculo" name="NumeroSumario" class="form-control" id="numeroSumario" />
                </div>

            </div>
            <div class="col-md-6 mb-6">
                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Estado</span>
                    </div>
                    <select class="form-control" @@keyup.enter="crearvehiculo" name="Estado" v-model="vehiculo.Estado" id="Estado" placeholder="Estados" v-cloak>
                        <option v-for="item in Estados" v-bind:value="item" v-cloak>{{item.detalles }}</option>
                    </select>
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Sumario Registrar</span>
                    </div>
                    <input v-model="vehiculo.SumarioRegistrar" @@keyup.enter="crearvehiculo" name="SumarioRegistrar" class="form-control " id="SumarioRegistrar" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Recibe</span>
                    </div>
                    <input v-model="vehiculo.Recibe" @@keyup.enter="crearvehiculo" name="Recibe" class="form-control" id="recibe" />
                </div>

            </div>
            <div class="col-md-6 mb-6">
                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Tipo</span>
                    </div>
                    <select class="form-control" @@keyup.enter="crearvehiculo" name="Tipo" v-model="vehiculo.Tipo" id="Tipo" placeholder="Tipos" v-cloak>
                        <option v-for="item in Tipos" v-bind:value="item" v-cloak>{{item.detalles }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Entrega</span>
                    </div>
                    <input v-model="vehiculo.Entrega" @@keyup.enter="crearvehiculo" name="Entrega" class="form-control" id="entrega" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Marca</span>
                    </div>
                    <input v-model="vehiculo.Marca" @@keyup.enter="crearvehiculo" name="Marca" class="form-control" id="marca" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Ubicacion Actual</span>
                    </div>
                    <input v-model="vehiculo.UbicacionActual" @@keyup.enter="crearvehiculo" name="UbicacionActual" class="form-control " id="UbicacionActual" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Color</span>
                    </div>
                    <input v-model="vehiculo.Color" @@keyup.enter="crearvehiculo" name="Color" class="form-control" id="color" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Propietario</span>
                    </div>
                    <input v-model="vehiculo.Propietario" @@keyup.enter="crearvehiculo" name="Propietario" class="form-control " id="propietario" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Modelo</span>
                    </div>
                    <input v-model="vehiculo.Modelo" @@keyup.enter="crearvehiculo" name="Modelo" class="form-control" id="modelo" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Deposito</span>
                    </div>
                    <input v-model="vehiculo.Deposito" @@keyup.enter="crearvehiculo" name="Deposito" class="form-control" id="Deposito" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Dominio</span>
                    </div>
                    <input v-model="vehiculo.Dominio" @@keyup.enter="crearvehiculo" name="Dominio" class="form-control" id="dominio" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Orden</span>
                    </div>
                    <input v-model="vehiculo.Orden" @@keyup.enter="crearvehiculo" name="Orden" class="form-control" type="number" id="orden" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Causa</span>
                    </div>
                    <input v-model="vehiculo.Causa" @@keyup.enter="crearvehiculo" name="Causa" class="form-control" id="causa" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Fecha De Entrega</span>
                    </div>
                    <input v-model="vehiculo.FechaDeEntrega" @@keyup.enter="crearvehiculo" name="FechaDeEntrega" type="datetime" class="form-control" id="FechaDeEntrega" />
                </div>

            </div>
            <div class="col-md-6 mb-6">

                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Magistrado Interviniente</span>
                    </div>
                    <input v-model="vehiculo.MagistradoInterviniente" @@keyup.enter="crearvehiculo" name="MagistradoInterviniente" class="form-control " id="MagistradoInterviniente" />
                </div>

            </div>

            <div class="col-md-12 mb-12">

                <div class="input-group  mb-">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Observaciones           </span>
                    </div>
                    <textarea v-model="vehiculo.Observaciones" rows="10" cols="50" @@keyup.enter="crearvehiculo" name="Observaciones" class="form-control" id="observaciones"></textarea>
                </div>

            </div>

        </div>
        <br />
        <div style="text-align: center;">
            <h3> galeria de vehiculo</h3>
        </div>
        <br />
        <div class="galeria">
            <div class="container">
                <div class="row">

                    <div class=" col-lg-4 col-md-4 col-sm-12" v-for="item in vehiculo.ImagenesPorVehiculo">
                        <input type='submit' value='BORRAR' style='background:url("item") left center no-repeat;padding-left:20px;' />
                        <img :src="item" class=" img-thumbnail img-fluid img-rounded" />

                    </div>
                </div>
            </div>
        </div>
        <hr />
        <br />
        <div class="col-md-12">
            @*<div class="col-md-4">
                <div v-for="item in vehiculo.ImagenesPorVehiculo">
                    <img :src="item" class="img-thumbnail" />
                </div>
            </div>*@

            <div class="col-md-8">
                <h3> inserte fotos del vehiculo</h3>
                <div class="form-group">
                    <input class="form-control-file border" type="file" id="photoImgId" name="archivosubido">
                    <input class="btn btn-dark" type="button" @@click="this.UploadFile('photoImgId','','#foto','foto1','',300,true)" value="Subir foto">
                </div>

            </div>

        </div>
        <hr />
        <div style="text-align: center;">
            <a :href="'/Home/Index/' " class="btn btn-outline-dark">Volver Al Inicio</a>
            <button id="submit" class="btn btn-primary" v-on:click="crearvehiculo">Enviar</button>
        </div>
    </form>
</div>
@section ScriptsSection {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/imagenesVehiculos/jquery.js"></script>
    <script src="~/imagenesVehiculos/img.js"></script>

    <link href="~/css/registro.css" rel="stylesheet" />
    <script src="~/js/Formulario.js"></script>
    @*<script src="~/js/Vehiculo-validator.js"></script>*@

    @*<script>
        $("#vehiculoform").validate();
    </script>*@
    <script>
        $(document).ready(function () {

            vm.obtenerAutoById(@ViewData["Id"]);
        });
    </script>
    <script>

        $(document).ready(function () {
            vm.ObtenerTipos();
            vm.ObtenerEstados();
        });

    </script>
    <link href="~/imagenesVehiculos/img.css" rel="stylesheet" />
}


