@model VehiculoRegiVeSec
@{
    ViewData["Title"] = "Index";
}

<h1>Eliminar</h1>
<p>Desea Eliminar Este Registro </p>
<div id="appAutos">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                <partial>Id</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Id }}
            </dd>
            <dt class="col-sm-2">
                <partial>Fecha De Ingreso</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.FechaDeIngreso }}
            </dd>
            <dt class="col-sm-2">
                <partial>Propietario</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Propietario}}
            </dd>
            <dt class="col-sm-2">
                <partial>Magistrado Interviniente</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.MagistradoInterviniente}}
            </dd>
            <dt class="col-sm-2">
                <partial>Sumario Registar</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.SumarioRegistrar}}
            </dd>
            <dt class="col-sm-2">
                <partial>Ubicacion Actual</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.UbicacionActual}}
            </dd>
            <dt class="col-sm-2">
                <partial>Dominio</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Dominio }}
            </dd>
            <dt class="col-sm-2">
                <partial>Tipo</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Tipo.detalles }}
            </dd>
            <dt class="col-sm-2">
                <partial>Marca</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Marca}}
            </dd>
            <dt class="col-sm-2">
                <partial>Color</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Color}}
            </dd>
            <dt class="col-sm-2">
                <partial>Modelo</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Modelo}}
            </dd>
            <dt class="col-sm-2">
                <partial>Causa</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Causa}}
            </dd>
            <dt class="col-sm-2">
                <partial>Estado</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Estado.detalles }}
            </dd>
            <dt class="col-sm-2">
                <partial>Numero Sumario</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.NumeroSumario}}
            </dd>
            <dt class="col-sm-2">
                <partial>Deposito</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Deposito }}
            </dd>
            <dt class="col-sm-2">
                <partial>Orden</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Orden }}
            </dd>
            <dt class="col-sm-2">
                <partial>Dependencia Procedente</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.DependenciaProcedente}}
            </dd>
            <dt class="col-sm-2">
                <partial>Observaciones</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Observaciones}}
            </dd>
            <dt class="col-sm-2">
                <partial>Recibe </partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Recibe  }}
            </dd>
            <dt class="col-sm-2">
                <partial>Entrega</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.Entrega }}
            </dd>
            <dt class="col-sm-2">
                <partial>Fecha De Entrega</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.FechaDeEntrega }}
            </dd>
        </dl>
        <div style="text-align: center;">
          <form action="/Vehiculo/Delete">
            <a :href="'/Home/Index/' " class="btn btn-outline-dark">Volver Al Inicio</a>
            <input type="hidden" name="Id" v-model="vehiculo.Id" />
            <input type="submit" value="Eliminar" v-on:click="vehiculo" class="btn btn-danger" />

          </form>
        </div>
    </div>
</div>
@section ScriptsSection {
    <script src="~/js/Formulario.js"></script>
    <script>
            $(document).ready(function () {
                vm.obtenerAutoById(@ViewData["Id"]);
            });
    </script>
}
