@model VehiculoRegiVeSec
@{
    ViewData["Title"] = "Index";
}

<h1>Eliminar</h1>
<p>Desea Eliminar Este Registro </p>
<div id="appAutos">
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                <partial>Id</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.id }}
            </dd>
            <dt class="col-sm-2">
                <partial>Fecha De Ingreso</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.fechaDeIngreso }}
            </dd>
            <dt class="col-sm-2" >
                <partial>Propietario</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.propietario}}
            </dd>
            <dt class="col-sm-2">
                <partial>Dominio</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.dominio }}
            </dd>
            <dt class="col-sm-2">
                <partial>Tipo</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.tipo.detalles }}
            </dd>
            <dt class="col-sm-2">
                <partial>Marca</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.marca}}
            </dd>
            <dt class="col-sm-2">
                <partial>Color</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.color}}
            </dd>
            <dt class="col-sm-2">
                <partial>Modelo</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.modelo}}
            </dd>
            <dt class="col-sm-2">
                <partial>Causa</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.causa}}
            </dd>
            <dt class="col-sm-2">
                <partial>Estado</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.estado.detalles }}
            </dd>
            <dt class="col-sm-2">
                <partial>Numero Sumario</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.numeroSumario}}
            </dd>
            <dt class="col-sm-2">
                <partial>Dependencia</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.dependencia }}
            </dd>
            <dt class="col-sm-2">
                <partial>Orden</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.orden }}
            </dd>
            <dt class="col-sm-2">
                <partial>Dependencia Procedente</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.dependenciaProcedente}}
            </dd>
            <dt class="col-sm-2">
                <partial>Observaciones</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.observaciones}}
            </dd>
            <dt class="col-sm-2">
                <partial>Recibe </partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.recibe  }}
            </dd>
            <dt class="col-sm-2">
                <partial>Entrega</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.entrega }}
            </dd>
          
          
            <dt class="col-sm-2">
                <partial>Fecha De Entrega</partial>
            </dt>
            <dd class="col-md-4" v-cloak>
                {{ vehiculo.fechaDeEntrega }}
            </dd>
        </dl>
        <div style="text-align: center;">
          <form action="/Vehiculo/Delete">
            <a :href="'/Home/Index/' " class="btn btn-outline-dark">Volver Al Inicio</a>
            <input type="hidden" name="Id" v-model="vehiculo.id" />
            <input type="submit" value="Eliminar" v-on:click="vehiculo" class="btn btn-danger" />

          </form>
        </div>
    </div>
</div>
@section ScriptsSection {
    <script src="~/js/Formulario.js"></script>
    <script>
            $(document).ready(function () {
                vm.obtenerAutoById(@ViewData["Id"]);
            });
    </script>
}
