@{
    ViewData["Title"] = "Home Page";
}
@model VehiculoRegiVeSec
<div id="app">

    <h1 class="list-group-item active">
        <span>Registro de Vehiculos</span>
    </h1>
    <hr />
    <form class="form-inline waves-light" mdbWavesEffect>
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="date" v-model="p_Desde" name="fecha" placeholder="Hasta" />
            <input class="form-control mr-sm-2" type="date" v-model="p_Hasta" name="fecha1" placeholder="Ahora" />
            <button type="button" @@click="BuscarVehiculo()" class="btn btn-primary">Buscar</button>
            <button type="button" @@click="obtenerVehiculo()" class="btn btn-primary">Restaurar</button>
        </div>
    </form>

    <div class="row">
        <div class=" col-md-12  pt-1 ">
            <div class="table-responsive">
                <table class="  table-hover display fl-table table-bordered" id="example" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha De Ingreso </th>
                            <th>Propietario </th>
                            <th>Dominio  </th>
                            <th>Fecha De Entrega</th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in vehiculo ">
                            <td> {{ item.id }}</td>
                            <th>{{ item.fechaDeIngreso }}</th>
                            <th>{{ item.propietario}} </th>
                            <th>{{ item.dominio }} </th>
                            <th>{{ item.fechaDeEntrega }} </th>
                            <td>
                              <a :href="'/Vehiculo/Detalles/' + item.id" class="btn btn-info">Detalles</a>
                              <a :href="'/Vehiculo/Eliminar/' + item.id" class="btn btn-danger">Eliminar</a>
                              <a :href="'/Vehiculo/Editar/' + item.id" class="btn btn-primary">Editar</a>
                              
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr />
<div style="text-align: center;">
    <a href="/Vehiculo/Agregar" class="btn btn-success">Agregar</a>
</div>
@section ScriptsSection {
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <link href="~/css/tabla.css" rel="stylesheet" />
    <script src="~/js/ListaDeVehiculos.js"></script>
    <script>

        $(document).ready(function () {
            initVue();
            vm.obtenerVehiculo();
        });
    </script>
}
