@{
    ViewData["Title"] = "Home Page";
}
@model VehiculoRegiVeSec
<div id="app">

    <h1 class="list-group-item active">
        <span>Registro de Vehiculos</span>
    </h1>
    <hr />
    <form class="form-inline waves-light" onsubmit="this.reset()"  action="javascript: vm.BuscarVehiculo();" >
        <div class="md-form mt-0">
            
                <input  type="text"  class="form-control mr-sm-2" name="texto"  v-model="p_Texto"   aria-controls="TablaVehiculos">
               
                <input class="form-control mr-sm-2" type="date" v-model="p_Desde" name="fecha" placeholder="Hasta"  />
                <input class="form-control mr-sm-2" type="date" v-model="p_Hasta" name="fecha1" placeholder="Ahora"  />
                <button type="submit" value="Submit"class="btn btn-primary">Buscar</button>
                <button type="button" @@click="obtenerVehiculo()"  class="btn btn-primary">Restaurar</button>
              
        </div>
    </form>

    <div class="row">
        <div class=" col-md-12  pt-1 " >            
            <div class="table-responsive">
                <table class="  table-hover display fl-table table-bordered" id="TablaVehiculos" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha De Ingreso </th>
                            <th>Propietario </th>
                            <th>Dominio  </th>
                            <th>Orden </th>
                            <th> Causa </th>
                            <th>Fecha De Entrega</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in vehiculo " v-cloak>
                            <td> {{ item.id }}</td>
                            <th>{{ item.fechaDeIngreso }}</th>
                            <th>{{ item.propietario}} </th>
                            <th>{{ item.dominio }} </th>
                            <th>{{ item.orden }} </th>
                            <th>{{ item.causa }} </th>
                            <th>{{ item.fechaDeEntrega }} </th>
                            <td>
                                <a :href="'/Vehiculo/Detalles/' + item.id" class="btn btn-info">Detalles</a>
                                <a :href="'/Vehiculo/Eliminar/' + item.id" class="btn btn-danger">Eliminar</a>
                                <a :href="'/Vehiculo/Editar/' + item.id" class="btn btn-primary">Editar</a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr />
<div style="text-align: center;">
    <a href="/Vehiculo/Agregar" class="btn btn-success">Agregar</a>
</div>
@section ScriptsSection {
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/cdnhome/ButtonsandDataTables.js"></script>
    <script src="~/cdnhome/ButtonsforDataTables1.5.6.js"></script>
    <script src="~/cdnhome/jQueryJavaScriptLibraryv3.3.1.js"></script>
    <script src="~/cdnhome/DataTables1.10.19.js"></script>
    <script src="~/cdnhome/jQueryv3.4.0.js"></script>
    <script src="~/cdnhome/JSZipv3.1.3.js"></script>
    <script src="~/cdnhome/Licenseajax.js"></script>
    <script src="~/cdnhome/pdfmakev0.1.53.js"></script>
    <script src="~/cdnhome/this.pdfMake.js"></script>
    <link href="~/css/tabla.css" rel="stylesheet" />
    <script src="~/js/ListaDeVehiculos.js"></script>
    <link href="~/css/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/css/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script>

        $(document).ready(function () {
            initVue();
            initDataTable();
            vm.obtenerVehiculo();
            
           
        });
    </script>


}
