@{
    ViewData["Title"] = "Home Page";
}
@model VehiculoRegiVeSec
    <div id="app">

        <h1 class="list-group-item">
            <span>Registro de Vehiculos</span>
        </h1>
        <hr />
        <form class="form-inline waves-light" onsubmit="this.reset()" action="javascript: vm.BuscarVehiculo();">
            <div class="md-form mt-0">
                
                <input type="text" class="form-control mr-sm-2" name="texto" v-model="p_Texto" aria-controls="TablaVehiculos" />
                <input class="form-control mr-sm-2" type="date" v-model="p_Desde" name="fecha" placeholder="Hasta" />
                <input class="form-control mr-sm-2" type="date" v-model="p_Hasta" name="fecha1" placeholder="Ahora" />
                <button type="submit" value="Submit" class="btn btn-dark">Buscar</button>
                <button type="button" @@click="obtenerVehiculo(NumeroPaginaParaPrimerBoton)" class="btn btn-dark">Restaurar</button>
            </div>
        </form>
       
        <div class="row">
                <div class=" col-md-12  pt-1 ">
                    <div class="table-responsive">
                            <table class="  table-hover display fl-table table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Fecha De Ingreso </th>
                                        <th>Numero De Sumario </th>
                                        <th>Tipo  </th>
                                        <th>Marca  </th>
                                        <th>Dominio  </th>
                                        <th>Orden </th>
                                        <th> Causa </th>
                                        <th>Fecha De Entrega</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in vehiculo " v-cloak>
                                        <th v-cloak>{{ item.fechaDeIngreso }}</th>
                                        <th v-cloak>{{ item.numeroSumario}}</th>
                                        <th v-cloak>{{ item.tipo.detalles}} </th>
                                        <th v-cloak>{{ item.modelo}} </th>
                                        <th v-cloak>{{ item.marca}} </th>
                                        <th v-cloak>{{ item.orden }} </th>
                                        <th v-cloak>{{ item.causa }} </th>
                                        <th v-cloak>{{ item.fechaDeEntrega }} </th>
                                        <td>
                                            <a :href="'/Vehiculo/Detalles/' + item.id" class="btn btn-dark">Detalles</a>
                                            <a :href="'/Vehiculo/Eliminar/' + item.id" class="btn btn-dark">Eliminar</a>
                                            <a :href="'/Vehiculo/Editar/' + item.id" class="btn btn-dark">Editar</a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                    </div>
               </div>
        <p class="mt-3" v-cloak>Pagina: {{p_PaginaActual}}</p>
        <hr />
        <div id="page">
            <nav aria-label="Page navigation example ">
                <ul class="pagination">
                    <li class="pagination-item ">
                    <li class="page-item  ">
                        <a class="page-link" @@click="obtenerVehiculo(previousinicio)">
                            <span aria-hidden="true" style="color:dodgerblue">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item  ">
                        <a class="page-link" @@click="obtenerVehiculo(previous)">
                            <span aria-hidden="true" style="color:dodgerblue"><</span>
                        </a>
                    </li>
                    <li class="page-item ">
                        <button type="button" class="page-link" @@click="obtenerVehiculo(NumeroPaginaParaPrimerBoton)" v-cloak>
                            {{NumeroPaginaParaPrimerBoton}}
                        </button>

                    </li>
                    <li class="page-item  ">
                        <button type="button" class="page-link " @@click="obtenerVehiculo(NumeroPaginaParaSegundoBoton)" :disabled="limitarPaginacion(NumeroPaginaParaSegundoBoton)" v-cloak>
                            {{NumeroPaginaParaSegundoBoton}}
                        </button>
                    </li>
                    <li class="page-item ">
                        <button type="button" class="page-link" @@click="obtenerVehiculo(NumeroPaginaParaTercerBoton)" :disabled="limitarPaginacion(NumeroPaginaParaTercerBoton)" v-cloak>
                            {{NumeroPaginaParaTercerBoton}}
                        </button>
                    </li>
                    <li class="page-item ">
                        <a class="page-link" @@click="obtenerVehiculo(next)">
                            <span aria-hidden="true" style="color:dodgerblue">></span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" @@click="obtenerVehiculo(final)">
                            <span aria-hidden="true" style="color:dodgerblue">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        </div>
    </div>
@*<hr />*@
<div style="text-align: center;">
    <a href="/Vehiculo/Agregar" class="btn btn-dark">Agregar</a>
    <a href="/Vehiculo/ExportToPdf" class="btn btn-success">PDF</a>

</div>
@section ScriptsSection {
    @*<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="~/cdnhome/ButtonsandDataTables.js"></script>
    <script src="~/cdnhome/ButtonsforDataTables1.5.6.js"></script>
    <script src="~/cdnhome/jQueryJavaScriptLibraryv3.3.1.js"></script>
    <script src="~/cdnhome/DataTables1.10.19.js"></script>
    <script src="~/cdnhome/jQueryv3.4.0.js"></script>
    <script src="~/cdnhome/JSZipv3.1.3.js"></script>
    <script src="~/cdnhome/Licenseajax.js"></script>
    <script src="~/cdnhome/pdfmakev0.1.53.js"></script>
    <script src="~/cdnhome/this.pdfMake.js"></script>*@
    <link href="~/css/tabla.css" rel="stylesheet" />
    <script src="~/js/ListaDeVehiculos.js"></script>
    @*<link href="~/css/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/css/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>*@
    <script>

        $(document).ready(function () {
            initVue();
            //initDataTable();
            vm.obtenerVehiculo(1);
            vm.obtenerPDF();
        });
    </script>
}
