
@{
    ViewData["Title"] = "Vehiculos";
}
@model VehiculoRegiVeSec
    <div id="app">

        <h1 class="list-group-item active">
            <span>Registro de Vehiculos</span>
        </h1>
        <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="date" v-model="p_Desde" name="fecha" placeholder="Hasta" />
            <input class="form-control mr-sm-2" type="date" v-model="p_Hasta" name="fecha1" placeholder="Ahora" />
            <button type="button" @@click="BuscarVehiculo()" class="btn btn-primary">Buscar</button>
          </div>
        </form>
        <div class="row">
            <div class=" col-md-12  pt-1 ">
                <div class="table-responsive">
                    <table class="  table-hover display fl-table table-bordered" id="example" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Fecha De Ingreso </th>
                                <th>Propietario </th>
                                <th>Detalles </th>
                                <th>Fecha De Entrega </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in vehiculo ">
                                <td> {{ item.id }}</td>
                                <th>{{ item.fechaDeIngreso }}</th>
                                <th>{{ item.propietario}} </th>
                                <th>{{ item.detallesVehiculo }}</th>
                                <th>{{ item.fechaDeEntrega }}</th>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
@section ScriptsSection {
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <link href="~/css/tabla.css" rel="stylesheet" />
    <script src="~/js/ListaDeVehiculos.js"></script>
    <script>

                $(document).ready(function () {
                    initVue();
                    vm.obtenerVehiculo();
                });
    </script>

}


