@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

    <h1>Olvidé la contraseña de confirmación</h1>
    <p>
        Por favor revise su correo electrónico para restablecer su contraseña.
    </p>

