
@{
    ViewData["Title"] = "Sesion";
}

<div id="appLogin">
    <div class="text-center">
        <form method="post" action="/Seccion/Add" id="vehiculoform">
            <fieldset>
                <div class="row">
                    <div class="col-md-4 mb-3 ">
                        <label>Nombre </label>
                        <input v-model="seccion.Nombre" @@keyup.enter="crearvehiculo" type="text" name="Nombre" class="form-control" id="Nombre" />
                    </div>
                    <div class="col-md-4 mb-3 ">
                        <label>Contrasenia </label>
                        <input v-model="seccion.Contrasenia" @@keyup.enter="crearvehiculo" type="text" name="Contrasenia" class="form-control" id="Contrasenia" />
                    </div>
                </div>
                <div style="text-align: center;">
                    <button id="submit" class="btn btn-primary" v-on:click="Nombre">Enviar</button>
                </div>
            </fieldset>

        </form>
    </div>
</div>

@section ScriptsSection {
    <script src="~/js/Formulario.js"></script>
    <script src="~/js/Vehiculo-validator.js"></script>
    <script>
        $("#vehiculoform").validate();
    </script>
    <script src="~/js/ListaDeSeccion.js"></script>
}
