
.galeria img:hover {
    transform: scale(1.1);
}

.galeria {
    margin: 10px 50px;

}

@media (max-width: 600px) {
    .facet_sidebar {
        margin: 10px 50px;
        display: none;
    }
}

.galeria imp1 {
    margin: 10px 50px;
}
